<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<section class="container mx-auto text-center">
    <h1>Lista de pacientes</h1>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Email</th>
            <th scope="col">diagnostico</th>
            <th scope="col">Modificar</th>
            <th scope="col">Eliminar</th>
        </tr>
        </thead>
        <tbody>
            <!-- el segundo parametro es como viene en la entity no en la bd-->
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.patientName}"></td>
                <td th:text="${patient.patienLastName}"></td>
                <td th:text="${patient.age}"></td>
                <td th:text="${patient.address}"></td>
                <td>
                    <ul>
                        <li th:each="diagnosis : ${patient.diagnoses}" th:text="${diagnosis.diagnosis}"></li>
                    </ul>
                </td>
                <td><a class="btn btn-warning" th:href="@{/patient/edit/{id}(id=${patient.idPatient})}">Modificar</a></td>
                <td><a class="btn btn-danger" th:href="@{/patient/delete/{id}(id=${patient.idPatient})}">Eliminar</a></td>
            </tr>
        </tbody>
    </table>
</section>
<!--Crear paciente-->
<section class="container mx-auto">
    <h2>Agregar paciente</h2>
    <form th:action="@{/patient/update}" th:object="${newPatient}" method="post">
        <div>
            <label for="patientName">Nombre:</label>
            <input class="form-control" type="text" id="patientName" name="patientName"/>
        </div>
        <div>
            <label for="patientLastName">Apellido:</label>
            <input class="form-control" type="text" id="patientLastName" name="patienLastName"/>
        </div>
        <div>
            <label for="age">Edad:</label>
            <input class="form-control" type="number" id="age" name="age"/>
        </div>
        <div>
            <label for="address">Dirección:</label>
            <input class="form-control" type="text" id="address" name="address"/>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </form>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>